.mat-card {
  border-radius: 32px;
  margin: 20px 10px;
  padding: 10px;
  border-color: #0a66c2;
}
.mat-card #primera-carta {
  padding: 0;
}
div #perfil-fondo {
  display: flex;
  z-index: auto;
}
div #perfil-fondo img {
  width: 100%;
  border-radius: 32px 32px 0 0;
}
.imagen-de-perfil {
  border-radius: 50%;
  width: 152px;
  height: 152px;
  margin-top: -110px;
  z-index: 1;
}
div #acciones-de-información {
  display: flex;
}
div #botón-de-acciones-de-información {
  margin: 8px;
}
div #intervalo-de-contacto-de-información {
  font-size: 1rem;
  font-weight: 400;
}
div #información-contacto a {
  color: #0a66c2;
  touch-action: manipulation;
  text-decoration: none;
}
div #info-empresa {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
div #info-datos {
  display: flex;
  justify-content: space-between;
}
div #información-datos h1 {
  font-size: 1.8rem;
  display: inline;
  font-weight: 500;
  line-height: 1.25;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
}
div #información-datos ul#información-detalles {
  width: 232px;
  list-style: none;
  flex-shrink: 0;
}
div #información-datos ul#información-detalles li a {
  color: black;
  display: flex;
  text-decoration: none;
}
div #información-datos ul#información-detalles li a h2 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  vertical-align: baseline;
}
#imagen-yoprograma {
  width: 220px;
  height: 100px;
  margin-right: 8px;
}
ul#lista-de-elementos {
  list-style: none;
}
ul#lista-de-elementos li {
  display: flex;
  margin: 10px 0;
}

div#info-contact span a {
    color: #0a66c2;
    touch-action: manipulation;
    text-decoration: none;
}
div#info-company{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
}
div#info-data {
    display: flex;
    justify-content: space-between;
}
div#info-data h1{
    font-size: 1.8rem;
    display: inline;
    font-weight: 500;
    line-height: 1.25;
    word-wrap: break-word;
    word-break: break-word;
}
div#info-data ul#info-details {
    width: 232px;
    list-style: none;
    flex-shrink: 0;
}
div#info-data ul#info-details li a {
    color: black;
    display: flex;
    text-decoration: none;
}
div#info-data ul#info-details li a h2 {
    font-size: 1rem;
    font-weight: 500;
    align-self: center;
    vertical-align: baseline;
}
#imagen-yoprogramo {
    width: 220px;
    height: 100px;
    margin-right: 8px;
}
ul#item-list {
    list-style: none;
}
ul#item-list li{
    display: flex;
    margin: 10px 0;
}
